.l-content {
    margin-top: 60px;
    
    &__inner {
        margin: 0 auto;
        width: 92%;

        @include media (pc-up) {
            margin: 0 10%;
            width: 80%;
        }
    }
}