.p-post-content {

    a:link {
        color: #0000EE;
        text-decoration: underline;
       }
       
       a:visited {
        color: #551A8B;
        text-decoration: underline;
       }
       
    //    a:hover {}
       
       a:active {
        color: #FF0000;
        text-decoration: underline;
    }

    p {
        padding-bottom: 20px;
    }

}