.p-skills {
    text-align: center;
    padding: 60px 0;
    
    &_icon {
        display: flex;
        flex-wrap:wrap;
        margin-top: 30px;
        margin-bottom: 30px;
        

        li {
            
            @include media (tab) {
                width: 45%;

                &:nth-child(n + 3) {
                    margin-top: 20px;
    
                }
    
                &:not(:nth-child(2n + 1)) {
                    margin-left: 5%;
    
                }
            }

            @include media (tab-up) {
                width: 30%;

                &:nth-child(n + 4) {
                    margin-top: 30px;
                }

                &:not(:nth-child(3n + 1)){
                    margin-left: auto;
                }                
            }

            img {
                height: 10vh;
                margin-bottom: 15px;
            }
        }
    }
}

.sass {

    p {
        font-size: 20px;
    }
}

